{% include 'authentication/base.html' %}
{% block content %}

    <h1>Login</h1>
<br/><br/>


        <form action="" method = POST>
            {% csrf_token %}


            <div class="mb-3">
                    <label  class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <br/>

            <div class="mb-3">
                    <label  class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Login</button>


        </form>
<br/>
<small id=" emilHelp" class="form-text text-muted"></small> Not a User? <a href="{% url 'register-user' %}"> Register Here.</a><br/>

<br/><br/>
{% endblock %}