{% include 'authentication/base.html' %}
{% if category_posts %}
    <h1> {{ cats }} </h1>
    <ul>
    {% for post in category_posts %}
        <li><a href="{% url 'details' post.pk %}">{{ post.title }}</a><br/>
            {{ post.author }}  -  {{ post.post_date }}
            <small>
                {% if user.is_authenticated %}
                   - <a href="{% url 'update-post' post.pk %}"> Edit</a>
                    -
                    <a href="{% url 'delete-post' post.pk %}"> Delete</a>
                {% endif %}
            </small><br/>
    <!--        {{ post.author_email }}<br/>-->
            {{ post.body|slice:":200" }}</li>

    {% endfor %}
    </ul>

{% else %}
    Sorry this page does not exist
{% endif %}

 <a href="{% url 'post-display' %}"> <button class="btn btn-success"> Back </button></a>
